
<div class="side-box sidesearchbox">
    <h4 class="top-level-header" style="font-weight:bold;">@Html.LanguageString("Side.Search")</h4>
    <div class="sidebar-content">

        <div class="side-box sidesearchbox">
            <div class="sidebar-content">
                <input type="text" id="sideSearchBox" placeholder="Enter Search term..." class="search-box" style="padding-left:.2em;width: 150px;">
                <a class="search-button" id="sideSearchBoxButton" onclick="window.location = '../Search?searchTerm=' + $('#sideSearchBox').val();"></a>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
</div>
