
<div class="markdownholder">
    
    <div class="wmd-panel">
        <div id="wmd-button-bar"></div>
        @*<textarea class="wmd-input" id="wmd-input"></textarea>*@
        @Html.TextArea(string.Empty, new {@class = "wmd-input"})
    </div>
    <p><a target="_blank" href="http://stackoverflow.com/editing-help">@Html.LanguageString("Editor.NeedHelp")</a></p>
    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
         
</div>
