@{
    ViewBag.Title = "Before You Begin";
}

<p>
    An administrative user with credentials to https://auth.nice-incontact.com is required to complete this process. This
    user must have a role with permissions enabled for access key management. There are two access key-related
    privileges:
</p>

<p>
    <img class="img-responsive center-block img-size-lg" src="@Url.Content("~/Content/images/Permissions.png")">
</p>

<ul class="text-left">
    <li><b>My Access Key</b>-allows the user to manage access keys for that user’s own account, including permissions to view, create, edit, and delete</li>
    <li><b>Access Key</b>-allows the user to manage access keys for others, including permissions to view, create, edit, and delete</li>
</ul>
