@{
    ViewBag.Title = "Indicator Events";
}

<h3 class="primary-color margin-top-none">Indicator</h3>
<pre class="prettyprint linenums margin-bottom-none">
{
    "Type": "Indicator",
    "Name": "IndTest",
    "ImageUri": "https://www.example.com/images/computer.png",
    "ActionType": "OpenURL",
    "ActionUri": "http://www.incontact.com/",
    "ToolTip": "test123",
    "IndicatorState": "On"
}
</pre>