@{
    ViewBag.Title = "Page Open Events";
}

<h3 class="primary-color margin-top-none">PageOpen</h3>
<pre class="prettyprint linenums margin-bottom-none">
{
    "Type": "PageOpen",
    "ContactID": "1569819",
    "Action": "OPEN",
    "PageUri": "http://eng-ngpcl07/WebScripting/Default.aspx?id=1218&__ContactID=1569819&__bus_no=199&__type=OPEN"
}
</pre>