@{
    ViewBag.Title = "Personal Connection Events";
}

<h3 class="primary-color margin-top-none">Low List Notification</h3>
<p>
    This event pertains to the Personal Connection dialer product. If the agent is logged into a Personal Connection outbound skill, and the platform senses that the volume of numbers to be called on its list is "running low", a notification is sent to the agent (and all other agents logged into the skill). You can use this event to display a "low list volume" notice to the agent. Some call centers use this notification to prompt agents to notify a manager, or to log out of the skill.
</p>

<pre class="prettyprint linenums">
{
    "Type": "NaturalCallingSkillList",
    "Empty": "True"
}
</pre>

<div class="table-container">
    <table id="table-PCE-1" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th onclick="sortTable('table-PCE-1', 0, event)">Field name</th>
                <th onclick="sortTable('table-PCE-1', 1, event)">Field type</th>
                <th onclick="sortTable('table-PCE-1', 2, event)">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Type</td>
                <td>string</td>
                <td>"NaturalCallingSkillList"</td>
            </tr>
            <tr>
                <td>Empty</td>
                <td>string (boolean)</td>
                <td>A string representing a Boolean value (True or False) that indicates whether the list is completely empty or not.</td>
            </tr>
        </tbody>
    </table>
</div>