
@{
    ViewBag.Title = "News & Events";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="row">
    <div class="col-sm-6 col-md-6" style="padding-right:0px">
        <div class="announcement-container">
            <h4>ANNOUNCEMENTS</h4>
        </div>
    </div>
    <div class="col-sm-6 col-md-6" style="padding-left:0px">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="upcomingevents-container-top">
                    <h4>UPCOMING EVENTS</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="upcomingevents-container-bottom">
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    h4 {
        color: #f48b31;
        font-weight: bolder;
    }
    .announcement-container {
        margin:10px 0px 0px 10px;
        height: 760px;
        width:95%;
        background-color: #eee;
        padding: 5px 0px 0px 15px;
        overflow:auto;
    }

    .upcomingevents-container-top {
        margin: 10px 0px 0px 10px;
        height: 200px;
        width: 95%;
        background-color: #eee;
        padding: 5px 0px 0px 15px;
        overflow: auto;
    }

    .upcomingevents-container-bottom {
        margin: 10px 0px 0px 10px;
        height: 550px;
        width: 95%;
        background-color: #eee;
        overflow: auto;
    }

</style>



