<div class='codeSampleTabs' style="display:none">
    <h4>Code Samples</h4>
    <ul>
        <li>JS</li>
        <li>C#</li>
        <li>Ruby</li>
        <li>PHP</li>
        <li>Java</li>
        <li>Scala</li>
        <li>python</li>
    </ul>
</div>