<h4 style="font-size: 1.5em;line-height:0;">Create Access Key</h4>
<div style="font-size: 1em;">
    <ol id="menu-item-list">
        <li>@Html.ActionLink("Before You Begin", "BeforeYouBegin", "Documentation")</li>

        <li>@Html.ActionLink("Generate Key in CXone", "GenerateKeyinCXone", "Documentation")</li>

        <li>@Html.ActionLink("Generate Token for Domain", "GenerateTokenforDomain", "Documentation")</li>

        <li>@Html.ActionLink("Refresh Token", "RefreshToken", "Documentation")</li>

    </ol>
</div>