<footer id="footer-v6" class="footer-v6 color-white-light">
	<div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="/">
                    <img src="~/Content/images/NICE-DEVone-Logos_Horizontal-White_Blue.png" alt="logo" />
                </a>
            </div>
        </div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h3><a href="http://www.niceincontact.com/DEVone-ecosystem">DEVone Ecosystem</a></h3>
				<ul>
					<li><a href="https://cxexchange.niceincontact.com/home">Featured Applications</a></li>
					<li><a href="http://www.niceincontact.com/become-incloud-partner">Become a DEVone Partner</a></li>
					<li><a href="http://www.niceincontact.com/devone-ecosystem/devone-partner-enablement">Why Become a DEVone partner</a></li>
					<li><a href="mailto:iCEPartnerInfoRequests@incontact.com">Help Center</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software-company/legal">Terms & Conditions</a></li>
					<li><a href="mailto:iCESupport@incontact.com">Feedback</a></li>
					<li><a href="mailto:iCESupport@incontact.com">Contact CXexchange Support</a></li>
				</ul>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h3>Products</h3>
				<ul>
					<li><a href="http://www.niceincontact.com/call-center-software/multi-channel-acd">Automatic Contact Distributor (ACD)</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software/interactive-voice-response-ivr">Interactive Voice Response (IVR)</a></li>
					<li><a href="http://www.niceincontact.com/workforce-optimization">Workforce Optimization (WFO)</a></li>
					<li><a href="http://www.niceincontact.com/workforce-optimization/workforce-management">Workforce Management (WFM)</a></li>
					<li><a href="http://www.niceincontact.com/workforce-optimization/customer-satisfaction-surveys">Surveys</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software">Call Center Software</a></li>
				</ul>
			</div>
			<div class="clearfix visible-sm-block"></div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h3>Solutions</h3>
				<ul>
					<li><a href="http://www.niceincontact.com/call-center-software/inbound-contact-center">Inbound Contact Center</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software/outbound-contact-center">Outbound Contact Center</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software/contact-center-management">Contact Center Management</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software/customer-service">Customer Service Solutions</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software/manage-enterprise-contact-center">Enterprise Contact Center</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software/ensure-compliance">Contact Center Compliance</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software/learn-about-security-cloud">Enable Security In The Cloud</a></li>
				</ul>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h3>Company</h3>
				<ul>
					<li><a href="http://www.niceincontact.com/call-center-software-company/about-us">About Us</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software-company/our-approach">Our Approach</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software-company/event-calendar">Events</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software-company/careers">Careers</a></li>
					<li><a href="http://www.niceincontact.com/blog">Blog</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software-company/press-releases">Press Releases</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software-company/legal/privacy-policy">Privacy Policy</a></li>
					<li><a href="http://www.niceincontact.com/call-center-software-company/legal">Legal</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<div id="scrollToTop">
	<i class="fa fa-angle-up" aria-hidden="true"></i>
</div>