<h4 style="font-size: 1.5em;line-height:0;">Using Events</h4>
<div style="font-size: 1em;">
    <ol id="menu-item-list">
        <li>@Html.ActionLink("Create/End an Agent Session", "CreateEndAnAgentSession", "Documentation")</li>

        <li>@Html.ActionLink("Requesting Events", "RequestingEvents", "Documentation")</li>

        <li>@Html.ActionLink("Event Types", "EventTypes", "Documentation")</li>
    </ol>
</div>